<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ecmdeveloper.plugin.properties.editors.FolderEditor"
            default="false"
            icon="icons/folder_edit.png"
            id="com.ecmdeveloper.plugin.editors.folderEditor"
            name="Folder Editor">
      </editor>
      <editor
            class="com.ecmdeveloper.plugin.properties.editors.DocumentEditor"
            default="false"
            icon="icons/page_white_edit.png"
            id="com.ecmdeveloper.plugin.editors.documentEditor"
            name="Document Editor">
      </editor>
      <editor
            class="com.ecmdeveloper.plugin.properties.editors.CustomObjectEditor"
            default="false"
            icon="icons/application_form_edit.png"
            id="com.ecmdeveloper.plugin.editors.customObjectEditor"
            name="Custom Object Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Edit Object Store Item"
            id="com.ecmdeveloper.plugin.editObjectStoreItem"
            name="Edit">
      </command>
      <command
            description="Refresh Properties"
            id="com.ecmdeveloper.plugin.refreshProperties"
            name="Refresh">
      </command>
      <command
            id="com.ecmdeveloper.plugin.saveProperties"
            name="Save Properties">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=edit">
         <command
               commandId="com.ecmdeveloper.plugin.editObjectStoreItem"
               icon="icons/pencil.png"
               label="Edit..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Folder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.CustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.EditObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.editObjectStoreItem">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.CustomObject">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Document">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Folder">
                     </instanceof></or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.RefreshEditorPropertiesHandler"
            commandId="com.ecmdeveloper.plugin.refreshProperties">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.RefreshEditorPropertiesHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <or>
                  <equals
                        value="com.ecmdeveloper.plugin.editors.folderEditor">
                  </equals>
                  <equals
                        value="com.ecmdeveloper.plugin.editors.documentEditor">
                  </equals>
                  <equals
                        value="com.ecmdeveloper.plugin.editors.customObjectEditor">
                  </equals>
               </or>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.SaveEditorPropertiesHandler"
            commandId="com.ecmdeveloper.plugin.saveProperties">
      </handler>
   </extension>

</plugin>
