<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ecmdeveloper.plugin.properties.editors.FolderEditor"
            default="false"
            icon="icons/folder_edit.png"
            id="com.ecmdeveloper.plugin.editors.folderEditor"
            name="Folder Editor">
      </editor>
      <editor
            class="com.ecmdeveloper.plugin.properties.editors.DocumentEditor"
            default="false"
            icon="icons/page_white_edit.png"
            id="com.ecmdeveloper.plugin.editors.documentEditor"
            name="Document Editor">
      </editor>
      <editor
            class="com.ecmdeveloper.plugin.properties.editors.CustomObjectEditor"
            default="false"
            icon="icons/application_form_edit.png"
            id="com.ecmdeveloper.plugin.editors.customObjectEditor"
            name="Custom Object Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Edit Object Store Item"
            id="com.ecmdeveloper.plugin.editObjectStoreItem"
            name="Edit">
      </command>
      <command
            description="Refresh Properties"
            id="com.ecmdeveloper.plugin.refreshProperties"
            name="Refresh">
      </command>
      <command
            id="com.ecmdeveloper.plugin.saveProperties"
            name="Save Properties">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Edit Document Version"
            id="com.ecmdeveloper.plugin.editDocumentVersion"
            name="Edit Version...">
      </command>
      <command
            description="New Folder"
            id="com.ecmdeveloper.plugin.newFolder"
            name="Folder">
      </command>
      <command
            description="New Document"
            id="com.ecmdeveloper.plugin.newDocument"
            name="Document">
      </command>
      <command
            description="New Custom Object"
            id="com.ecmdeveloper.plugin.newCustomObject"
            name="Custom Object">
      </command>
      <command
            id="com.ecmdeveloper.plugin.saveNewProperties"
            name="Save New Properties">
      </command>
      <command
            description="New Document from Resource"
            id="com.ecmdeveloper.plugin.newDocumentFromResource"
            name="Add to Object Store">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=edit">
         <command
               commandId="com.ecmdeveloper.plugin.editObjectStoreItem"
               icon="icons/pencil.png"
               label="Edit..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.editDocumentVersion"
               icon="icons/versions_edit.png"
               label="Edit Document Version..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <or>
                           <and>
                              <instanceof
                                    value="com.ecmdeveloper.plugin.core.model.IDocument">
                              </instanceof>
                              <test
                                    property="com.ecmdeveloper.plugin.canCheckout">
                              </test>
                           </and>
                        </or>
                     </iterate></and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="contentEngine"
               label="Object Store">
            <command
                  commandId="com.ecmdeveloper.plugin.newDocumentFromResource"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoreFavorites?after=edit">
         <command
               commandId="com.ecmdeveloper.plugin.editObjectStoreItem"
               icon="icons/pencil.png"
               label="Edit..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.editDocumentVersion"
               icon="icons/versions_edit.png"
               label="Edit Document Version..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <or>
                           <and>
                              <instanceof
                                    value="com.ecmdeveloper.plugin.core.model.IDocument">
                              </instanceof>
                              <test
                                    property="com.ecmdeveloper.plugin.canCheckout">
                              </test>
                           </and>
                        </or>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <menu
               label="New">
            <command
                  commandId="com.ecmdeveloper.plugin.newFolder"
                  icon="icons/folder.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.newDocument"
                  icon="icons/page_white.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.newCustomObject"
                  icon="icons/application_view_columns.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=additions">
         <menu
               label="New">
            <command
                  commandId="com.ecmdeveloper.plugin.newFolder"
                  icon="icons/folder.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.core.model.IFolder">
                           </instanceof>
                           <and>
                              <instanceof
                                    value="com.ecmdeveloper.plugin.core.model.IObjectStore">
                              </instanceof>
                              <test
                                    property="com.ecmdeveloper.plugin.isConnected">
                              </test>
                           </and>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.newDocument"
                  icon="icons/page_white.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.core.model.IFolder">
                           </instanceof>
                           <and>
                              <instanceof
                                    value="com.ecmdeveloper.plugin.core.model.IObjectStore">
                              </instanceof>
                              <test
                                    property="com.ecmdeveloper.plugin.isConnected">
                              </test>
                           </and>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.newCustomObject"
                  icon="icons/application_view_columns.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.core.model.IFolder">
                           </instanceof>
                           <and>
                              <instanceof
                                    value="com.ecmdeveloper.plugin.core.model.IObjectStore">
                              </instanceof>
                              <test
                                    property="com.ecmdeveloper.plugin.isConnected">
                              </test>
                           </and>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.search.ui.views.SearchView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.editObjectStoreItem"
               icon="icons/pencil.png"
               label="Edit..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.editDocumentVersion"
               icon="icons/versions_edit.png"
               label="Edit Document Version..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <or>
                           <and>
                              <instanceof
                                    value="com.ecmdeveloper.plugin.core.model.IDocument">
                              </instanceof>
                              <test
                                    property="com.ecmdeveloper.plugin.canCheckout">
                              </test>
                           </and>
                        </or>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.ui.parentFolderView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.editObjectStoreItem"
               icon="icons/pencil.png"
               label="Edit..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.editDocumentVersion"
               icon="icons/versions_edit.png"
               label="Edit Document Version..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <or>
                           <and>
                              <instanceof
                                    value="com.ecmdeveloper.plugin.core.model.IDocument">
                              </instanceof>
                              <test
                                    property="com.ecmdeveloper.plugin.canCheckout">
                              </test>
                           </and>
                        </or>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <menu
               label="New">
            <command
                  commandId="com.ecmdeveloper.plugin.newFolder"
                  icon="icons/folder.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.newDocument"
                  icon="icons/page_white.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.newCustomObject"
                  icon="icons/application_view_columns.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.EditObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.editObjectStoreItem">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IDocument">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IFolder">
                     </instanceof></or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.RefreshEditorPropertiesHandler"
            commandId="com.ecmdeveloper.plugin.refreshProperties">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.RefreshEditorPropertiesHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <or>
                  <equals
                        value="com.ecmdeveloper.plugin.editors.folderEditor">
                  </equals>
                  <equals
                        value="com.ecmdeveloper.plugin.editors.documentEditor">
                  </equals>
                  <equals
                        value="com.ecmdeveloper.plugin.editors.customObjectEditor">
                  </equals>
               </or>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.SaveEditorPropertiesHandler"
            commandId="com.ecmdeveloper.plugin.saveProperties">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.EditDocumentVersionHandler"
            commandId="com.ecmdeveloper.plugin.editDocumentVersion">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IDocument">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.NewFolderHandler"
            commandId="com.ecmdeveloper.plugin.newFolder">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.SaveNewEditorPropertiesHandler"
            commandId="com.ecmdeveloper.plugin.saveNewProperties">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.NewDocumentHandler"
            commandId="com.ecmdeveloper.plugin.newDocument">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.NewCustomObjectHandler"
            commandId="com.ecmdeveloper.plugin.newCustomObject">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.properties.handlers.NewDocumentFromResourceHandler"
            commandId="com.ecmdeveloper.plugin.newDocumentFromResource">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.ecmdeveloper.plugin.category.main"
            class="com.ecmdeveloper.plugin.properties.wizard.NewFolderWizard"
            icon="icons/folder.png"
            id="com.ecmdeveloper.plugin.newFolder"
            name="Folder">
         <description>
            Create a new object store item
         </description>
      </wizard>
      <wizard
            category="com.ecmdeveloper.plugin.category.main"
            class="com.ecmdeveloper.plugin.properties.wizard.NewDocumentWizard"
            icon="icons/page_white.png"
            id="com.ecmdeveloper.plugin.newDocument"
            name="Document">
         <description>
            Create a new document
         </description>
      </wizard>
      <wizard
            category="com.ecmdeveloper.plugin.category.main"
            class="com.ecmdeveloper.plugin.properties.wizard.NewCustomObjectWizard"
            icon="icons/application_view_columns.png"
            id="com.ecmdeveloper.plugin.newCustomObject"
            name="Custom Object">
         <description>
            Create a new custom object
         </description>
      </wizard>
      <category
            id="com.ecmdeveloper.plugin.category.main"
            name="ECM Developer">
      </category>
   </extension>

</plugin>
