<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ecmdeveloper.plugin.diagrams.editors.ClassDiagramEditor"
            contributorClass="com.ecmdeveloper.plugin.diagrams.editors.ClassDiagramEditorContributor"
            default="false"
            extensions="classdiagram"
            icon="icons/table_edit.png"
            id="com.ecmdeveloper.plugin.diagrams.classDiagramEditor"
            name="Class Diagram">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.ecmdeveloper.plugin.category.main"
            name="ECM Developer">
      </category>
      <wizard
            category="com.ecmdeveloper.plugin.category.main"
            class="com.ecmdeveloper.plugin.diagrams.wizards.NewClassDiagramWizard"
            finalPerspective="com.ecmdeveloper.plugin.diagrams.classDiagramPerspective"
            icon="icons/table_edit.png"
            id="com.ecmdeveloper.plugin.diagrams.wizards.NewClassDiagramWizard"
            name="Object Store Class Diagram"
            preferredPerspectives="com.ecmdeveloper.plugin.diagrams.classDiagramPerspective"
            project="false">
         <description>
            This perspective is designed to support editing of Content Engine Class Diagrams. It offers an Object Store Classes explorer and a properties view.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.classes.views.ClassesView?after=edit">
         <command
               commandId="com.ecmdeveloper.plugin.diagrams.addClassToDiagram"
               icon="icons/table_add.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate>
                        <instanceof
                              value="com.ecmdeveloper.plugin.classes.model.ClassDescription">
                        </instanceof>
                     </iterate>
                  </with>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.ecmdeveloper.plugin.diagrams.classDiagramEditor">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.diagrams.classDiagramEditor?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.diagrams.addClassToDiagram"
               icon="icons/table_add.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="selection">
                     <iterate>
                        <instanceof
                              value="com.ecmdeveloper.plugin.classes.model.ClassDescription">
                        </instanceof>
                     </iterate>
                  </with>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.ecmdeveloper.plugin.diagrams.classDiagramEditor">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Add Class to Diagram"
            id="com.ecmdeveloper.plugin.diagrams.addClassToDiagram"
            name="Add to Diagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.diagrams.handlers.AddClassToDiagramHandler"
            commandId="com.ecmdeveloper.plugin.diagrams.addClassToDiagram">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.diagrams.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="com.ecmdeveloper.plugin.diagrams.classDiagramEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.ecmdeveloper.plugin.diagrams.perspectives.ClassDiagramPerspectiveFactory"
            icon="icons/table_multiple.png"
            id="com.ecmdeveloper.plugin.diagrams.classDiagramPerspective"
            name="Object Store Class Diagram">
         <description>
            Edit Content Engine Class Diagrams.
         </description>
      </perspective>
   </extension>

</plugin>
