<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ecmdeveloper.plugin.search.editor.GraphicalQueryEditor"
            contributorClass="com.ecmdeveloper.plugin.search.editor.GraphicalQueryEditorContributor"
            default="false"
            extensions="search"
            icon="icons/find.png"
            id="com.ecmdeveloper.plugin.search.searchEditor"
            name="Search Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="com.ecmdeveloper.plugin.search.ui.SearchResultPage"
            id="com.ecmdeveloper.plugin.search.searchResultsPage"
            searchResultClass="com.ecmdeveloper.plugin.search.ui.QuerySearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="com.ecmdeveloper.plugin.search.ui.SearchPage"
            icon="icons/find.png"
            id="com.ecmdeveloper.plugin.search.searchPage"
            label="Content Engine Search">
      </page>
   </extension>

</plugin>
