<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.ecmdeveloper.plugin.category.contentEngine"
            class="com.ecmdeveloper.plugin.wizard.ImportObjectStoreWizard"
            icon="icons/database.png"
            id="com.ecmdeveloper.plugin.wizard.importObjectStore"
            name="Object Store">
         <description>
            Import an Object Store.
         </description>
      </wizard>
      <category
            id="com.ecmdeveloper.plugin.category.contentEngine"
            name="Content Engine">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Content Engine"
            id="com.ecmdeveloper.plugin.category"
            name="Content Engine Commands">
      </category>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Removes this Object Store from the view"
            id="com.ecmdeveloper.plugin.removeObjectStore"
            name="Remove from view">
      </command>
      <command
            description="Import Object Store"
            id="com.ecmdeveloper.plugin.importObjectStore"
            name="Import`">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.ecmdeveloper.plugin.views.ObjectStoresView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.connectObjectStore"
               icon="icons/database_connect.png"
               style="push"
               tooltip="Connect to the Object Store">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.ObjectStore">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.importObjectStore"
               icon="icons/database_add.png"
               style="push"
               tooltip="Imports an Object Store">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.handlers.ImportObjectStoreHandler"
            commandId="com.ecmdeveloper.plugin.importObjectStore">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.ecmdeveloper.plugin.tester.DocumentPropertyTester"
            id="com.ecmdeveloper.plugin.documentPropertyTester"
            namespace="com.ecmdeveloper.plugin"
            properties="isCheckedOut"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.ecmdeveloper.plugin.properties.ObjectStoreItemPropertyPage"
            id="com.ecmdeveloper.plugin.objectStoreItemPropertyPage"
            name="General">
         <enabledWhen>
            <instanceof
                  value="com.ecmdeveloper.plugin.core.model.IObjectStoreItem">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="objectstorefile">
         <run
               class="com.ecmdeveloper.plugin.filesystem.ObjectStoreFileSystem">
         </run>
      </filesystem>
   </extension>

</plugin>
