<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.ecmdeveloper.plugin.category.contentEngine"
            class="com.ecmdeveloper.plugin.wizard.ImportObjectStoreWizard"
            icon="icons/database.png"
            id="com.ecmdeveloper.plugin.wizard.importObjectStore"
            name="Object Store">
         <description>
            Import an Object Store.
         </description>
      </wizard>
      <category
            id="com.ecmdeveloper.plugin.category.contentEngine"
            name="Content Engine">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Content Engine"
            id="com.ecmdeveloper.plugin.category"
            name="Content Engine Commands">
      </category>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Removes this Object Store from the view"
            id="com.ecmdeveloper.plugin.removeObjectStore"
            name="Remove from view">
      </command>
      <command
            description="Import Object Store"
            id="com.ecmdeveloper.plugin.importObjectStore"
            name="Import Object Store">
      </command>
      <command
            id="com.ecmdeveloper.plugin.scripting.executeClass"
            name="Run Console Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.ecmdeveloper.plugin.ui.importObjectStore">
         <command
               commandId="com.ecmdeveloper.plugin.importObjectStore"
               label="Import Object Store"
               style="push"
               tooltip="Imports an Object Store">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.search.ui.views.SearchView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.scripting.executeClass"
               icon="icons/application_go.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Folder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.scripting.executeClass"
               icon="icons/application_go.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Folder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoreFavorites?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.scripting.executeClass"
               icon="icons/application_go.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Folder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.ui.parentFolderView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.scripting.executeClass"
               icon="icons/application_go.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Folder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.handlers.ImportObjectStoreHandler"
            commandId="com.ecmdeveloper.plugin.importObjectStore">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.ExecuteMethodHandler"
            commandId="com.ecmdeveloper.plugin.scripting.executeClass">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <instanceof
                        value="com.ecmdeveloper.plugin.model.ObjectStoreItem">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="objectstorefile">
         <run
               class="com.ecmdeveloper.plugin.filesystem.ObjectStoreFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="com.ecmdeveloper.plugin.objectstorestores">
      <client
            class="com.ecmdeveloper.plugin.model.ObjectStoresStore">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.ecmdeveloper.plugin.category.contentEngine"
            name="Content Engine">
      </category>
      <wizard
            category="com.ecmdeveloper.plugin.category.contentEngine"
            class="com.ecmdeveloper.plugin.wizard.NewContentEngineScriptProjectWizard"
            descriptionImage="icons/application.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/application.png"
            id="com.ecmdeveloper.plugin.scripting.newScriptingProjectWizard"
            name="Content Engine Console Project"
            project="true">
         <description>
            Creates a new Content Engine Console Project.
         </description>
      </wizard>
      <wizard
            category="com.ecmdeveloper.plugin.category.contentEngine"
            class="com.ecmdeveloper.plugin.wizard.NewContentEngineScriptClassWizard"
            icon="icons/application_class.png"
            id="com.ecmdeveloper.plugin.scripting.newScriptingProjectClassWizard"
            name="Content Engine Console Project Class">
         <description>
            Creates a new Content Engine Console Project Class.
         </description>
      </wizard>
   </extension>
   <extension
         id="contentEngineScript"
         name="Content Engine Script"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.ecmdeveloper.plugin.scripting.ScriptingProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.ecmdeveloper.plugin.properties.ConnectionPropertyPage"
            id="com.ecmdeveloper.plugin.ContentEngineConnectionPropertyPage"
            name="Connection">
         <enabledWhen>
            <instanceof
                  value="com.ecmdeveloper.plugin.model.ObjectStore">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
