<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Content Engine"
            id="com.ecmdeveloper.plugin.contentEngine">
      </category>
      <view
            name="Object Stores"
            icon="icons/database.png"
            category="com.ecmdeveloper.plugin.contentEngine"
            class="com.ecmdeveloper.plugin.views.ObjectStoresView"
            id="com.ecmdeveloper.plugin.views.ObjectStoresView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.ecmdeveloper.plugin.category.contentEngine"
            class="com.ecmdeveloper.plugin.wizard.ImportObjectStoreWizard"
            icon="icons/database.png"
            id="com.ecmdeveloper.plugin.wizard.importObjectStore"
            name="Object Store">
         <description>
            Import an Object Store.
         </description>
      </wizard>
      <category
            id="com.ecmdeveloper.plugin.category.contentEngine"
            name="Content Engine">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Content Engine"
            id="com.ecmdeveloper.plugin.category"
            name="Content Engine Commands">
      </category>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Connect to the Object Store"
            id="com.ecmdeveloper.plugin.connectObjectStore"
            name="Connect">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Removes this Object Store from the view"
            id="com.ecmdeveloper.plugin.removeObjectStore"
            name="Remove from view">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Deletes the selected item from the Object Store"
            id="com.ecmdeveloper.plugin.delete"
            name="Delete">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Moves the selected items to another location in the Object Store"
            id="com.ecmdeveloper.plugin.move"
            name="Move...">
      </command>
      <command
            description="Paste the clipboard contents into the Object Stores view"
            id="com.ecmdeveloper.plugin.paste"
            name="Past">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Renames the selected items"
            id="com.ecmdeveloper.plugin.rename"
            name="Rename...">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Refreshes the selected items"
            id="com.ecmdeveloper.plugin.refresh"
            name="Refresh">
      </command>
      <command
            description="Import Object Store"
            id="com.ecmdeveloper.plugin.importObjectStore"
            name="Import`">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.ecmdeveloper.plugin.views.ObjectStoresView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.connectObjectStore"
               icon="icons/database_connect.png"
               style="push"
               tooltip="Connect to the Object Store">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.ObjectStore">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.importObjectStore"
               icon="icons/database_add.png"
               style="push"
               tooltip="Imports an Object Store">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=edit">
         <command
               commandId="com.ecmdeveloper.plugin.removeObjectStore"
               icon="icons/database_delete.png"
               style="push"
               tooltip="Removes this Object Store from the view">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.ObjectStore">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.connectObjectStore"
               icon="icons/database_connect.png"
               style="push"
               tooltip="Connect to the Object Store">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.ObjectStore">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.delete"
               icon="icons/delete_edit.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Folder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.CustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.move"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Folder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.CustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.rename"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <not>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.ObjectStore">
                        </instanceof>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.refresh"
               icon="icons/refresh.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=other">
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.handlers.ConnectObjectStoreHandler"
            commandId="com.ecmdeveloper.plugin.connectObjectStore">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <test
                        property="com.ecmdeveloper.plugin.notConnected">
                  </test></iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.RemoveObjectStoreHandler"
            commandId="com.ecmdeveloper.plugin.removeObjectStore">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.DeleteObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.delete">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.MoveObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.move">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Folder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Document">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.CustomObject">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.PastObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.paste">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.RenameObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.rename">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.MoveObjectStoreItemHandler"
            commandId="org.eclipse.ui.edit.move">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Folder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Document">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.RenameObjectStoreItemHandler"
            commandId="org.eclipse.ui.edit.rename">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Folder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Document">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.DeleteObjectStoreItemHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Folder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Document">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.CustomObject">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.RefreshObjectStoreItemHandler"
            commandId="org.eclipse.ui.file.refresh">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Folder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Document">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.CustomObject">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.ObjectStore">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.RefreshObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.refresh">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Folder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Document">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.CustomObject">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.ObjectStore">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.handlers.ImportObjectStoreHandler"
            commandId="com.ecmdeveloper.plugin.importObjectStore">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.ecmdeveloper.plugin.tester.PropertyTester"
            id="com.ecmdeveloper.plugin.propertyTester"
            namespace="com.ecmdeveloper.plugin"
            properties="isConnected,notConnected"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.ecmdeveloper.plugin.properties.ObjectStoreItemPropertyPage"
            id="com.ecmdeveloper.plugin.objectStoreItemPropertyPage"
            name="General">
         <enabledWhen>
            <instanceof
                  value="com.ecmdeveloper.plugin.model.IObjectStoreItem">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.ecmdeveloper.plugin.decorators.ObjectStoreDecorator"
            id="com.ecmdeveloper.plugin.decorators.ObjectStoreDecorator"
            label="Object Store Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="com.ecmdeveloper.plugin.model.ObjectStore">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
