<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.ecmdeveloper.plugin.folderview.selectColumns"
            name="Select Columns">
      </command>
      <command
            description="View Folder Content"
            id="com.ecmdeveloper.plugin.folderview.openFolderView"
            name="View Content">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.folderview.handlers.SelectColumnsHandler"
            commandId="com.ecmdeveloper.plugin.folderview.selectColumns">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.folderview.handlers.OpenFolderViewHandler"
            commandId="com.ecmdeveloper.plugin.folderview.openFolderView">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.ecmdeveloper.plugin.contentEngine"
            name="ECM Developer">
      </category>
      <view
            allowMultiple="true"
            category="com.ecmdeveloper.plugin.contentEngine"
            class="com.ecmdeveloper.plugin.folderview.views.FolderView"
            icon="icons/folder_table.png"
            id="com.ecmdeveloper.plugin.folderview.folderView"
            name="Folder View"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.ecmdeveloper.plugin.folderview.folderView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.folderview.selectColumns"
               icon="icons/folder_table.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=edit">
         <command
               commandId="com.ecmdeveloper.plugin.folderview.openFolderView"
               label="View Content"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
