<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ecmdeveloper.plugin.security.editor.SecurityEditor"
            default="false"
            icon="icons/group_edit.png"
            id="com.ecmdeveloper.plugin.security.securityEditor"
            name="Security Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Edit Security"
            id="com.ecmdeveloper.plugin.security.editSecurity"
            name="Edit Security">
      </command>
      <command
            id="com.ecmdeveloper.plugin.security.editor.toolbar"
            name="Actions">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.security.handlers.EditSecurityHandler"
            commandId="com.ecmdeveloper.plugin.security.editSecurity">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IDocument">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IFolder">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.security.handlers.HelloHandler"
            commandId="com.ecmdeveloper.plugin.security.editor.toolbar">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=edit">
         <command
               commandId="com.ecmdeveloper.plugin.security.editSecurity"
               icon="icons/group_edit.png"
               label="Edit Security..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:formsToolBar">
         <command
               commandId="com.ecmdeveloper.plugin.security.editor.toolbar"
               icon="icons/wrench_orange.png"
               style="pulldown"
               tooltip="Actions">
         </command>
      </menuContribution>
   </extension>

</plugin>
