<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.ecmdeveloper.plugin.cmis.views.RepositoryView"
            id="com.ecmdeveloper.plugin.cmis.repositoryView"
            name="Repository View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.ecmdeveloper.plugin.cmis.category"
            name="CMIS">
      </category>
      <wizard
            category="com.ecmdeveloper.plugin.cmis.category"
            class="com.ecmdeveloper.plugin.cmis.wizard.ImportRepositoryWizard"
            icon="icons/database.png"
            id="com.ecmdeveloper.plugin.cmis.wizard.importRepository"
            name="Repository">
         <description>
            Import a CMIS Repository
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.ecmdeveloper.plugin.ui.importObjectStore">
         <command
               commandId="com.ecmdeveloper.plugin.cmis.importRepository"
               style="push"
               tooltip="Imports an Repository">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.cmis.scripting.executeClass"
               icon="icons/application_go.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.cmis.model.Document">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.cmis.model.Folder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoreFavorites?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.cmis.scripting.executeClass"
               icon="icons/application_go.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.cmis.model.Document">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.cmis.model.Folder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.search.ui.views.SearchView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.cmis.scripting.executeClass"
               icon="icons/application_go.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.cmis.model.Document">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.cmis.model.Folder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Import Repository"
            id="com.ecmdeveloper.plugin.cmis.importRepository"
            name="Import CMIS Repository">
      </command>
      <command
            id="com.ecmdeveloper.plugin.cmis.scripting.executeClass"
            name="Run Console Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.cmis.handlers.ImportRepositoryHandler"
            commandId="com.ecmdeveloper.plugin.cmis.importRepository">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.cmis.handlers.ExecuteMethodHandler"
            commandId="com.ecmdeveloper.plugin.cmis.scripting.executeClass">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.cmis.model.Document">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.cmis.model.Folder">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="com.ecmdeveloper.plugin.objectstorestores">
      <client
            class="com.ecmdeveloper.plugin.cmis.model.ObjectStoresStore">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.ecmdeveloper.plugin.cmis.category"
            name="CMIS">
      </category>
      <wizard
            category="com.ecmdeveloper.plugin.cmis.category"
            class="com.ecmdeveloper.plugin.cmis.wizard.NewOpenCMISScriptProjectWizard"
            descriptionImage="icons/application.png"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/application.png"
            id="com.ecmdeveloper.plugin.cmis.scripting.newScriptingProjectWizard"
            name="Open CMIS Console Project"
            project="true">
         <description>
            Creates a new Open CMIS Console Project. This type of project contains classes that accept documents or folders as input.
         </description>
      </wizard>
   </extension>

   <extension
         id="openCMISScript"
         name="Open CMIS Script"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.ecmdeveloper.plugin.cmis.scripting.ScriptingProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.ecmdeveloper.plugin.cmis.properties.ConnectionPropertyPage"
            id="com.ecmdeveloper.plugin.CmisConnectionPropertyPage"
            name="Connection">
         <enabledWhen>
            <instanceof
                  value="com.ecmdeveloper.plugin.cmis.model.ObjectStore">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.ecmdeveloper.plugin.cmis.properties.RepositoryInfoPropertyPage"
            id="com.ecmdeveloper.plugin.cmis.repositoryInfoPage"
            name="Repository Info">
         <enabledWhen>
            <instanceof
                  value="com.ecmdeveloper.plugin.cmis.model.ObjectStore">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
