<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="View Released Document"
            id="com.ecmdeveloper.plugin.viewDocument"
            name="Released Version">
      </command>
      <command
            description="View Current Document"
            id="com.ecmdeveloper.plugin.viewCurrentDocument"
            name="Current Version">
      </command>
      <command
            description="View Document Version"
            id="com.ecmdeveloper.plugin.viewDocumentVersion"
            name="Other Versions...">
      </command>
      <command
            description="Compare Released Document"
            id="com.ecmdeveloper.plugin.compareDocument"
            name="Released Version With Local File">
      </command>
      <command
            description="Compare Document Versions"
            id="com.ecmdeveloper.plugin.compareDocumentVersions"
            name="Versions With Each Other...">
      </command>
      <command
            description="Compare Document Version With Local File"
            id="com.ecmdeveloper.plugin.compareDocumentVersionsLocal"
            name="Other Versions With Local File...">
      </command>
      <command
            description="Compare Released Documents"
            id="com.ecmdeveloper.plugin.compareDocuments"
            name="Released Versions With Each Other">
      </command>
      <command
            description="Download Released Document Content"
            id="com.ecmdeveloper.plugin.downloadDocument"
            name="Released Version">
      </command>
      <command
            description="Download Document Versions Content"
            id="com.ecmdeveloper.plugin.downloadDocumentVersions"
            name="Other Versions...">
      </command>
      <command
            description="Checkout Document"
            id="com.ecmdeveloper.plugin.checkoutDocument"
            name="Checkout">
      </command>
      <command
            description="Cancel Checkout Document"
            id="com.ecmdeveloper.plugin.cancelCheckoutDocument"
            name="Cancel Checkout">
      </command>
      <command
            description="Cancel Checkout Tracked File"
            id="com.ecmdeveloper.plugin.cancelCheckoutTrackedFile"
            name="Cancel Checkout">
      </command>
      <command
            description="Save Document"
            id="com.ecmdeveloper.plugin.saveDocument"
            name="Save">
      </command>
      <command
            description="Checkin Document"
            id="com.ecmdeveloper.plugin.checkinDocument"
            name="Checkin">
      </command>
      <command
            description="Checkin Tracked File"
            id="com.ecmdeveloper.plugin.checkinTrackedFile"
            name="Checkin">
      </command>
      <command
            description="Download Current Document Content"
            id="com.ecmdeveloper.plugin.downloadCurrentDocument"
            name="Current Version">
      </command>
      <command
            description="Save Tracked File"
            id="com.ecmdeveloper.plugin.saveTrackedFile"
            name="Save">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.ViewDocumentHandler"
            commandId="com.ecmdeveloper.plugin.viewDocument">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.ecmdeveloper.plugin.model.Document">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.ViewDocumentVersionHandler"
            commandId="com.ecmdeveloper.plugin.viewDocumentVersion">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.ecmdeveloper.plugin.model.Document">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.DownloadDocumentVersionHandler"
            commandId="com.ecmdeveloper.plugin.downloadDocumentVersions">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.ecmdeveloper.plugin.model.Document">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.CompareDocumentVersionsHandler"
            commandId="com.ecmdeveloper.plugin.compareDocumentVersions">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.ecmdeveloper.plugin.model.Document">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.CancelCheckoutDocumentHandler"
            commandId="com.ecmdeveloper.plugin.cancelCheckoutDocument">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <test
                        property="com.ecmdeveloper.plugin.isCheckedOut">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.SaveDocumentHandler"
            commandId="com.ecmdeveloper.plugin.saveDocument">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <test
                        property="com.ecmdeveloper.plugin.isCheckedOut">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.CheckinDocumentHandler"
            commandId="com.ecmdeveloper.plugin.checkinDocument">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <test
                        property="com.ecmdeveloper.plugin.isCheckedOut">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.CheckinTrackedFileHandler"
            commandId="com.ecmdeveloper.plugin.checkinTrackedFile">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <test
                           property="com.ecmdeveloper.plugin.tracker.isTracked">
                     </test>
                     <instanceof
                           value="com.ecmdeveloper.plugin.tracker.model.TrackedFile">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.ViewCurrentDocumentHandler"
            commandId="com.ecmdeveloper.plugin.viewCurrentDocument">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.ecmdeveloper.plugin.model.Document">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.DownloadCurrentDocumentHandler"
            commandId="com.ecmdeveloper.plugin.downloadCurrentDocument">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.ecmdeveloper.plugin.model.Document">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.CheckoutDocumentHandler"
            commandId="com.ecmdeveloper.plugin.checkoutDocument">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <not>
                     <test
                           property="com.ecmdeveloper.plugin.isCheckedOut">
                     </test>
                  </not>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.DownloadDocumentHandler"
            commandId="com.ecmdeveloper.plugin.downloadDocument">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.ecmdeveloper.plugin.model.Document">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.CompareDocumentWithLocalFileHandler"
            commandId="com.ecmdeveloper.plugin.compareDocument">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.ecmdeveloper.plugin.model.Document">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.CompareDocumentVersionWithLocalFileHandler"
            commandId="com.ecmdeveloper.plugin.compareDocumentVersionsLocal">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.ecmdeveloper.plugin.model.Document">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.CompareDocumentsWithEachOtherHandler"
            commandId="com.ecmdeveloper.plugin.compareDocuments">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="2">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.ecmdeveloper.plugin.model.Document">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.SaveTrackedFileHandler"
            commandId="com.ecmdeveloper.plugin.saveTrackedFile">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <test
                           property="com.ecmdeveloper.plugin.tracker.isTracked">
                     </test>
                     <instanceof
                           value="com.ecmdeveloper.plugin.tracker.model.TrackedFile">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.content.handlers.CancelCheckoutTrackedFileHandler"
            commandId="com.ecmdeveloper.plugin.cancelCheckoutTrackedFile">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <test
                           property="com.ecmdeveloper.plugin.tracker.isTracked">
                     </test>
                     <instanceof
                           value="com.ecmdeveloper.plugin.tracker.model.TrackedFile">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=edit">
         <menu
               label="View">
            <command
                  commandId="com.ecmdeveloper.plugin.viewDocument"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.viewCurrentDocument"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.viewDocumentVersion"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <menu
               icon="icons/page_save.png"
               label="Download">
            <command
                  commandId="com.ecmdeveloper.plugin.downloadDocument"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.downloadCurrentDocument"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.downloadDocumentVersions"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <menu
               icon="icons/page_copy.png"
               label="Compare">
            <command
                  commandId="com.ecmdeveloper.plugin.compareDocument"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.compareDocuments"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.compareDocumentVersionsLocal"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.compareDocumentVersions"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <separator
               name="editContentSeparator">
         </separator>
         <command
               commandId="com.ecmdeveloper.plugin.checkoutDocument"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.cancelCheckoutDocument"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.saveDocument"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.checkinDocument"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.TrackedFiles?after=edit">
         <command
               commandId="com.ecmdeveloper.plugin.checkinTrackedFile"
               style="push">
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.saveTrackedFile"
               style="push">
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.cancelCheckoutTrackedFile"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoreFavorites?after=edit">
         <menu
               label="View">
            <command
                  commandId="com.ecmdeveloper.plugin.viewDocument"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.viewCurrentDocument"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.viewDocumentVersion"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <menu
               icon="icons/page_save.png"
               label="Download">
            <command
                  commandId="com.ecmdeveloper.plugin.downloadDocument"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.downloadCurrentDocument"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.downloadDocumentVersions"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <menu
               icon="icons/page_copy.png"
               label="Compare">
            <command
                  commandId="com.ecmdeveloper.plugin.compareDocument"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.compareDocuments"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.compareDocumentVersionsLocal"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.ecmdeveloper.plugin.compareDocumentVersions"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.model.Document">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <separator
               name="editContentSeparator">
         </separator>
         <command
               commandId="com.ecmdeveloper.plugin.checkoutDocument"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.cancelCheckoutDocument"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.saveDocument"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.checkinDocument"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.model.Document">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
