<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.ecmdeveloper.plugin.ui.perspectives.ContentEnginePerspectiveFactory"
            icon="icons/database_table.png"
            id="com.ecmdeveloper.plugin.ui.contentEnginePerspective"
            name="Content Engine">
         <description>
            This perspective is designed to support working with Content Engines. It offers an Object Store explorer, a Favorities view, a Code Modules view and a Tracker view.
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Content Engine"
            id="com.ecmdeveloper.plugin.category"
            name="Content Engine Commands">
      </category>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Deletes the selected item from the Object Store"
            id="com.ecmdeveloper.plugin.delete"
            name="Delete">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Connect to the Object Store"
            id="com.ecmdeveloper.plugin.connectObjectStore"
            name="Connect">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Removes this Object Store from the view"
            id="com.ecmdeveloper.plugin.removeObjectStore"
            name="Remove from view">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Moves the selected items to another location in the Object Store"
            id="com.ecmdeveloper.plugin.move"
            name="Move...">
      </command>
      <command
            description="Paste the clipboard contents into the Object Stores view"
            id="com.ecmdeveloper.plugin.paste"
            name="Past">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Renames the selected items"
            id="com.ecmdeveloper.plugin.rename"
            name="Rename...">
      </command>
      <command
            categoryId="com.ecmdeveloper.plugin.category"
            description="Refreshes the selected items"
            id="com.ecmdeveloper.plugin.refresh"
            name="Refresh">
      </command>
      <command
            description="Import Object Store"
            id="com.ecmdeveloper.plugin.importObjectStore"
            name="Import`">
      </command>
      <command
            description="Delete Versions of the Document"
            id="com.ecmdeveloper.plugin.deleteDocumentVersion"
            name="Delete Versions...">
      </command>
      <command
            defaultHandler="com.ecmdeveloper.plugin.ui.handlers.ObjectStoresViewDoubleClickHandler"
            id="com.ecmdeveloper.plugin.objectStoresViewDoubleClick"
            name="DoubleClick">
      </command>
      <command
            id="com.ecmdeveloper.plugin.ui.importObjectStore"
            name="Import Object Store">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.DeleteObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.delete">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.DeleteObjectStoreItemHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IFolder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IDocument">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.ConnectObjectStoreHandler"
            commandId="com.ecmdeveloper.plugin.connectObjectStore">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate>
                  <test
                        property="com.ecmdeveloper.plugin.notConnected">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.RemoveObjectStoreHandler"
            commandId="com.ecmdeveloper.plugin.removeObjectStore">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.MoveObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.move">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IFolder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IDocument">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.PastObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.paste">
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.RenameObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.rename">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IFolder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IDocument">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.MoveObjectStoreItemHandler"
            commandId="org.eclipse.ui.edit.move">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IFolder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IDocument">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.RenameObjectStoreItemHandler"
            commandId="org.eclipse.ui.edit.rename">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IFolder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IDocument">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.RefreshObjectStoreItemHandler"
            commandId="org.eclipse.ui.file.refresh">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IFolder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IDocument">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IObjectStore">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.RefreshObjectStoreItemHandler"
            commandId="com.ecmdeveloper.plugin.refresh">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IFolder">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IDocument">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                     </instanceof>
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IObjectStore">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.DeleteDocumentVersionHandler"
            commandId="com.ecmdeveloper.plugin.deleteDocumentVersion">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.ecmdeveloper.plugin.core.model.IDocument">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ecmdeveloper.plugin.ui.handlers.ImportObjectStoreHandler"
            commandId="com.ecmdeveloper.plugin.ui.importObjectStore">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.ecmdeveloper.plugin.ui.views.ContentView"
            id="com.ecmdeveloper.plugin.ui.contentView"
            name="Content View"
            restorable="true">
      </view>
      <category
            id="com.ecmdeveloper.plugin.contentEngine"
            name="Content Engine">
      </category>
      <view
            allowMultiple="true"
            category="com.ecmdeveloper.plugin.contentEngine"
            class="com.ecmdeveloper.plugin.ui.views.ParentFolderView"
            icon="icons/folder_database.png"
            id="com.ecmdeveloper.plugin.ui.parentFolderView"
            name="Parent Folder"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="com.ecmdeveloper.plugin.contentEngine"
            class="com.ecmdeveloper.plugin.ui.views.ObjectStoresView"
            icon="icons/database.png"
            id="com.ecmdeveloper.plugin.views.ObjectStoresView"
            name="Object Stores">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ecmdeveloper.plugin.ui.contentEnginePerspective">
         <showInPart
               id="com.ecmdeveloper.plugin.ui.parentFolderView">
         </showInPart>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=edit">
         <command
               commandId="com.ecmdeveloper.plugin.removeObjectStore"
               icon="icons/database_delete.png"
               style="push"
               tooltip="Removes this Object Store from the view">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IObjectStore">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.connectObjectStore"
               icon="icons/database_connect.png"
               style="push"
               tooltip="Connect to the Object Store">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IObjectStore">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.delete"
               icon="icons/delete_edit.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.deleteDocumentVersion"
               icon="icons/versions_delete.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <and>
                           <instanceof
                                 value="com.ecmdeveloper.plugin.core.model.IDocument">
                           </instanceof>
                           <test
                                 property="com.ecmdeveloper.plugin.canCheckout">
                           </test></and>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.move"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.rename"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.refresh"
               icon="icons/arrow_refresh.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoresView?after=other">
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.views.ObjectStoreFavorites?after=edit">
         <command
               commandId="com.ecmdeveloper.plugin.connectObjectStore"
               icon="icons/database_connect.png"
               style="push"
               tooltip="Connect to the Object Store">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="com.ecmdeveloper.plugin.core.model.IObjectStore">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.delete"
               icon="icons/delete_edit.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.deleteDocumentVersion"
               icon="icons/versions_delete.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.move"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.rename"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.refresh"
               icon="icons/arrow_refresh.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.search.ui.views.SearchView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.delete"
               icon="icons/delete_edit.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.deleteDocumentVersion"
               icon="icons/versions_delete.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.move"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.rename"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.refresh"
               icon="icons/arrow_refresh.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ecmdeveloper.plugin.ui.parentFolderView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.delete"
               icon="icons/delete_edit.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.deleteDocumentVersion"
               icon="icons/versions_delete.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.move"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.ICustomObject">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.rename"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IDocument">
                        </instanceof>
                        <instanceof
                              value="com.ecmdeveloper.plugin.core.model.IFolder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ecmdeveloper.plugin.refresh"
               icon="icons/arrow_refresh.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.ecmdeveloper.plugin.views.ObjectStoresView?after=additions">
         <command
               commandId="com.ecmdeveloper.plugin.ui.importObjectStore"
               icon="icons/database_add.png"
               style="pulldown"
               tooltip="Add an Object Store to the view">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.ecmdeveloper.plugin.ui.tester.PropertyTester"
            id="com.ecmdeveloper.plugin.propertyTester"
            namespace="com.ecmdeveloper.plugin"
            properties="isConnected,notConnected,canCheckout"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.ecmdeveloper.plugin.ui.tester.DocumentPropertyTester"
            id="com.ecmdeveloper.plugin.documentPropertyTester"
            namespace="com.ecmdeveloper.plugin"
            properties="isCheckedOut"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.ecmdeveloper.plugin.ui.decorators.ObjectStoreDecorator"
            id="com.ecmdeveloper.plugin.decorators.ObjectStoreDecorator"
            label="Object Store Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="com.ecmdeveloper.plugin.core.model.IObjectStore">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.ecmdeveloper.plugin.ui.decorators.DocumentDecorator"
            id="com.ecmdeveloper.plugin.decorators.documentDecorator"
            label="Document Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="com.ecmdeveloper.plugin.core.model.IDocument">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            class="com.ecmdeveloper.plugin.ui.decorators.SearchResultRowDecorator"
            id="com.ecmdeveloper.plugin.decorators.SearchResultRow"
            label="Search Result Row"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="com.ecmdeveloper.plugin.core.model.ISearchResultRow">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
